:root {
    --basic-black: #000000;
    --basic-grey: #1f1f1f;
    --basic-white: #ffffff;
    --extra-light: #f2f2f2;
    --special: #2f80ed;
    --gap-xs: 20px;
    --gap-small: 30px;
    --gap-medium: 64px;

  }
